# dependencies
/node_modules

# build output
/build
/dist
/.react-router

# misc
.DS_Store

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
